*{
	margin:0px;
	padding:0px;	
	}
.body{
	font:Arial, Helvetica, sans-serif;
	color:#000;}
.header{
	width:100%;
	float:left;}
.menus{
	float:right;
	}
.content{
	width:1024px;
	height:auto;
	background-color:#FFF;
	margin:auto ;
	padding:auto;
	}
.lcontent{
	margin:30px;
	
	width:350px;
	height:auto;
	float:left;	 
	}
.lcontents{
	width:350px;
	height:auto;
	float:left;
	margin-top:25px;}
.rcontent{
	margin-top:-350px;
    width:600px;
	height:auto;
	float:right;
	padding-top:15px;
	padding-left:25px;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	clear:left;
	text-align:justify;
	}
.rcontents{
	width:600px;
	height:auto;
	float:left;
	margin-top:10px;
	margin-left:20px;
	color:#000;
	

	}
.i{
	list-style:none;
	text-align:left;
	}
.lcontentes{
	width:auto;
	height:auto;
	float:left;
	
	}
 .footer{
	width:100%;
	text-align:center;
	color:#FFF;
	height:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color:#000;
	clear:both;
	line-height:50px;
	
	}

